/* acitvities on mars page*/
.activities-nav {
        margin-top: 1rem;
        padding: 1rem;
        background: rgb(255, 120, 36);
        ul {
                min-height: 3rem;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                gap: 2rem;
        }
}

.activities-nav  a {
        color: white;
        text-decoration: none;
}

.text-on-picture-right {
        width: 100%;
        padding: 1rem;
        display: block;
        color: white;

        img {
                width:100%;
                height: auto;
        }

        div {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                width: 50%;
                position: absolute;
                left: 50%;
                transform: translate(-3rem, -105%);
                text-align: center;
                background-color: rgba(255, 120, 36, 0.50);
                border-radius: 3rem;
                padding: 0.5rem;
                
        }

        h3 {
                margin: 0.5rem;
        }
}

.picture-right-of-text {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: rgb(255, 120, 36);
        img {
                width: 50%;
                height: auto;
        }

        h3 {
                margin: 0.5rem;
        }
}

.picture-right-of-text > div {
        margin-top: auto;
        margin: auto;
        width: 50%;
        text-align: center;
        border-radius: 3rem;
        padding: 0.5rem;
}

.text-with-picture-underneath {
        margin-top: auto;
        width: auto;
        img {
                margin-top: 1rem;
                width: 100%;
                align-self: flex-end;
                justify-self: end;
                margin-bottom: 0;
        }

        div {
                margin-top: 1rem;
                width: 100%;
                align-self: flex-end;
                justify-self: end;
                margin-bottom: 0rem;                
        }
}

.picture-with-caption {
        position: relative;
    
    img {
        width: 100%;
        display: block;
    }
    
    i {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 120, 36, 0.5); /* Semi-transparent background */
        color: white;
        padding: 0.5rem;
        text-align: center;
        text-wrap: wrap;
    }
}

#activities-in-town {
        padding: 1rem;
        color: rgb(255, 120, 36);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: center;
}

#activities-in-town > div {
        div {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
        }
        img {
                width: 50%;
        }       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: auto;
}

#first-row-in-town {
        width: 100%;
        text-align: center; 
        align-self: center;        
}

#second-row-in-town {
        margin-top: -4rem;
        padding-right: 4rem;        
}



@media only screen and (max-width: 1871px) {
        #activities-in-town {
                width: fit-content;
                padding: 1rem;
                color: rgb(255, 120, 36);
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-content: center;
                justify-content: center;
        }
        
        #activities-in-town > div {
                width: 100;
                display: flex;
                flex-direction: column-reverse;
                gap: 1rem;
                align-content: center;
                justify-content: center;
                align-items: center;

                div {
                        width: 100%;
                }
        }
        
        #first-row-in-town {
                width: fit-content;
                display: flex;
                flex-direction: column-reverse;
                align-self: center;
                justify-content: center;
        
        }
        
        
        #second-row-in-town {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-self: center;
                padding-right: 0;
                margin-top: 0.5rem;
        }

        
}

@media only screen and (max-width: 1350px) {
        .text-on-picture-right {
                
                width: 100%;
                padding: 1rem;
                display: block;
                color: white;
        
                img {
                        width:100%;
                        height: auto;
                }
        
                div {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        width: 100%;
                        position: static;
                        left: 50%;
                        transform: none;
                        text-align: center;
                        background-color: rgba(255, 120, 36, 0);
                        color: rgb(255, 120, 36);
                        border-radius: 3rem;
                        padding: 0.5rem;
                        
                }
        }
        
        .picture-right-of-text {
                width: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: column-reverse;
                

                justify-content: center;
                align-items: center;
                color: rgb(255, 120, 36);
                img {
                        width: 100%;
                        max-height: 30rem;
                        object-fit:cover;
                        object-position: 50% 40%;
                }
        
                h3 {
                        margin: 0.5rem;
                }
        }
        
        .picture-right-of-text > div {
                width: 100%;
                text-align: center;
                border-radius: 3rem;
                padding: 0.5rem;
        }

        .picture-with-caption {
                display: none;
        }
}