 /* General Reset */
 @import url('https://fonts.googleapis.com/css?family=Audiowide');


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Audiowide', sans-serif;
   /* Added fallback generic font family */
 }

 /* Header Styles */
 header {
   display: flex;
   justify-content: space-between;
   /* flex-wrap: wrap; */
   align-items: center;
   margin-top: 0.25rem;
   background-color: rgb(255, 120, 36);
   padding: 0.25rem;
 }

 #logo img {
   margin-left: 1rem;
   height: 6rem;
 }

 #logo-text {
   align-items: center;
   max-width: 80%;
   height: auto;
 }

 .nav-container {
   display: flex;
   gap: 0.5rem;
   align-items: center;
 }

 .nav-links a {
   margin: 0.25rem;
   color: black;
   text-decoration: none;
   font-size: 16px;
 }

 #order-btn {
   background-color: rgb(255, 255, 255);
   color: rgb(255, 120, 36);
   padding: 10px 20px;
   border: none;
   border-radius: 0.5rem;
   font-size: 16px;
   cursor: pointer;
   margin-left: 3rem;
   margin-right: 3rem;
 }

 .order-btn:hover {
   background-color: darkgray;
 }

 /* Main content */
 .main-content {
   padding: 20px;
 }


 /* ------- HERO SEKTION ------- */
 .hero {
   background: url('/Picture/mars-hero.jpg') no-repeat center center/cover;
   height: 60vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: white;
   padding: 20px;
 }

 .hero-content {
   background: rgba(0, 0, 0, 0.5);
   padding: 20px;
   border-radius: 10px;
 }

 /* ------- CARDS ------- */
 .cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0px;
   justify-content: center;
   text-align: center;
   padding: 20px;
 }

 .cards *{
  color: black;
  text-decoration: none;
 }

 .card {
   background: white;
   padding: 10px;
   border-radius: 10px;

 }

 .card img {
   width: 100%;
   aspect-ratio: 1;
   object-fit: cover;
   border-radius: 10px;
 }

 /* ------- AKTIVITETER OCH SEKTIONER ------- */
 .activities,
 .dining,
 .mountain {
   padding: 40px;
 }

 .activities img,
 .mountain img {
   width: 50%;
   border-radius: 10px;
 }

 .activity-content,
 .mountain-content {
   display: flex;
   align-items: center;
   gap: 20px;
 }

 /* ------- RECENSIONER ------- */
 .review-cards {
   display: flex;
   gap: 20px;
   justify-content: center;
   text-align: center;
 }

 .review {
   background: white;
   padding: 20px;
   border-radius: 10px;
   width: 250px;
 }





 /* Footer Styles */
 footer {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 20px;
   background-color: rgb(255, 120, 36);
   color: rgb(255, 255, 255);
   gap: 1.5rem;
   text-wrap: nowrap;
 }

 footer div {
   margin-left: auto;
   margin-right: auto;

 }

 footer h2 {
   margin-bottom: 0.25rem;
 }

 footer ul {
   list-style: none;
   font-size: small;
 }

 footer ul li {
   margin-bottom: 5px;
 }