.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    color: rgb(255, 120, 36);
}

.intro {
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.base {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.base img {
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 10px;
}

.pod-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    margin-bottom: 40px;
}

.pod-section.reverse {
    flex-direction: row-reverse;
    margin-top: 40px;
}

.pod-section img {
    width: 100%;
    max-width: 590px;
    height: auto;
    border-radius: 10px;
}

.pod-section .text {
    flex: 1 1 400px;

}

.activities {
    text-align: center;
}

.food {
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-row img {
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 10px;
}